In [1]:
from Database import Database
import sys
# import multiprocessing as mp
import pandas as pd
from collections import Counter
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
from scipy.stats.distributions import chi2
from bioinfokit import analys, visuz
from scipy.stats import fisher_exact
import time
from scipy.special import factorial


from fisher import pvalue_npy
from scipy.stats import chi2_contingency
from scipy.stats import uniform, randint

In [2]:
path_db = 'D:/Hanze_Groningen/STAGE/lastdb/db_laatste_copy.db' #'D:/Hanze_Groningen/STAGE/DATAB/copydatabase_C.db'
# Database connection
db = Database(path_db)

In [22]:
table = pd.read_sql("SELECT name FROM sqlite_master WHERE type='table';", db.mydb_connection)
table

              name
0          project
1  sqlite_sequence
2            donor
3              snp
4           tissue
5    donor_has_snp
6    sum_dosage_GT

In [23]:
results = db.cursor.execute("PRAGMA table_info(project)").fetchall()
for res in results:
    print(res[:])

(0, 'ID', 'INTEGER', 0, None, 1)
(1, 'project_ID', 'VARCHAR(45)', 1, None, 0)
(2, 'cancer', 'VARCHAR(45)', 0, 'NULL', 0)

In [24]:
results = db.cursor.execute("PRAGMA table_info(sqlite_sequence)").fetchall()
for res in results:
    print(res[:])

(0, 'name', '', 0, None, 0)
(1, 'seq', '', 0, None, 0)

In [25]:
results = db.cursor.execute("PRAGMA table_info(donor)").fetchall()
for res in results:
    print(res[:])

(0, 'ID', 'INTEGER', 0, None, 1)
(1, 'donor_ID', 'VARCHAR(45)', 1, None, 0)
(2, 'project_ID', 'INT', 1, None, 0)
(3, 'sex', 'BOOLEAN', 0, 'FALSE', 0)
(4, 'vital_status', 'BOOLEAN', 0, 'FALSE', 0)
(5, 'age_at_diagnosis', 'INT', 0, 'NULL', 0)
(6, 'age_at_last_followup', 'INT', 0, 'NULL', 0)
(7, 'disease_status_last_followup', 'VARCHAR(45)', 0, 'NULL', 0)

In [26]:
results = db.cursor.execute("PRAGMA table_info(snp)").fetchall()
for res in results:
    print(res[:])

(0, 'ID', 'INTEGER', 0, None, 1)
(1, 'chr', 'VARCHAR(45)', 0, 'NULL', 0)
(2, 'pos_start', 'INT', 0, 'NULL', 0)
(3, 'pos_end', 'INT', 0, 'NULL', 0)
(4, 'ref', 'VARCHAR(1000)', 0, 'NULL', 0)
(5, 'alt', 'VARCHAR(1000)', 0, 'NULL', 0)
(6, 'genome_version', 'VARCHAR(45)', 0, 'NULL', 0)
(7, 'platform', 'VARCHAR(45)', 0, 'NULL', 0)
(8, 'seq_strategy', 'VARCHAR(45)', 0, 'NULL', 0)
(9, 'AF', 'INT', 0, 'NULL', 0)
(10, 'AF_whole', 'INT', 0, 'NULL', 0)
(11, 'UCNE', 'BOOLEAN', 0, 'FALSE', 0)
(12, 'TFBS', 'BOOLEAN', 0, 'FALSE', 0)
(13, 'DNase', 'BOOLEAN', 0, 'FALSE', 0)
(14, 'in_transcript', 'BOOLEAN', 0, 'FALSE', 0)
(15, 'in_coding', 'BOOLEAN', 0, 'FALSE', 0)
(16, 'in_exon', 'BOOLEAN', 0, 'FALSE', 0)
(17, 'before_gene', 'BOOLEAN', 0, 'FALSE', 0)
(18, 'after_gene', 'BOOLEAN', 0, 'FALSE', 0)
(19, 'ID_eQTL', 'VARCHAR(45)', 0, 'NULL', 0)
(20, 'eQTL', 'BOOLEAN', 0, 'FALSE', 0)
(21, 'close_eQTL_3000', 'BOOLEAN', 0, 'FALSE', 0)

In [27]:
results = db.cursor.execute("PRAGMA table_info(tissue)").fetchall()
for res in results:
    print(res[:])

(0, 'ID', 'INTEGER', 0, None, 1)
(1, 'specimen_type', 'VARCHAR(100)', 1, None, 0)
(2, 'type', 'BOOLEAN', 0, 'FALSE', 0)

In [28]:
results = db.cursor.execute("PRAGMA table_info(donor_has_snp)").fetchall()
for res in results:
    print(res[:])

(0, 'donor_ID', 'INT', 1, None, 0)
(1, 'donor_project_ID', 'INT', 1, None, 0)
(2, 'snp_ID', 'INT', 1, None, 0)
(3, 'tissue_ID', 'INT', 1, None, 0)
(4, 'specimen_id', 'VARCHAR(45)', 1, None, 0)
(5, 'total_read_count', 'INT', 0, 'NULL', 0)
(6, 'mutant_allele_read_count', 'INT', 0, 'NULL', 0)
(7, 'dosages', 'FLOAT', 0, 'NULL', 0)
(8, 'GT', 'INT', 0, 'NULL', 0)
(9, 'GT2', 'INT', 0, 'NULL', 0)

In [29]:
results = db.cursor.execute("PRAGMA table_info(sum_dosage_GT)").fetchall()
for res in results:
    print(res[:])

(0, 'snp_ID', 'INT', 1, None, 0)
(1, 'donor_ID', 'INT', 1, None, 0)
(2, 'donor_project_ID', 'INT', 1, None, 0)
(3, 'dosages', 'INT', 0, 'NULL', 0)
(4, 'total_read_count_sum', 'INT', 0, 'NULL', 0)
(5, 'mutant_allele_read_count_sum', 'INT', 0, 'NULL', 0)
(6, 'number_snps', 'INT', 0, 'NULL', 0)
(7, 'GT', 'INT', 0, 'NULL', 0)
(8, 'GT2', 'INT', 0, 'NULL', 0)

In [ ]:
for res in results:
    print(res[0], res[1])
    donor = db.cursor.execute(
                """SELECT donor_ID
                    FROM donor
                    WHERE project_ID = %s ;""" %
                int(res[0])).fetchall()
    set_don = list()
    for don in donor:
        set_don.append(don[0])
    print(len(set(set_don)))
print(len(results))

In [20]:
results = db.cursor.execute("""SELECT cancer, ID
                            FROM project""").fetchall()
dict_cancer = dict()
for res in results:
    if res[0] in dict_cancer:
        dict_cancer[res[0]].append(res[1])
    else:
        dict_cancer[res[0]] = [res[1]]

dict_2 = dict()
for key, value in dict_cancer.items():
    donor_num = 0
    for ID in value:
        donor = db.cursor.execute(
                    """SELECT donor_ID
                        FROM donor
                        WHERE project_ID = %s ;""" %
                    int(ID)).fetchall()
        set_don = list()
        for don in donor:
            set_don.append(don[0])
        donor_num += len(set(set_don))
    dict_2[key] = donor_num

print(dict_2)

{'Head and neck': 117, 'Ovary': 135, 'Blood': 545, 'Kidney': 318, 'Uterus': 71, 'Stomach': 37, 'Brain': 59, 'Nervous system': 28, 'Colorectal': 90, 'Bladder': 23, 'Bone': 162, 'Breast': 777, 'Gall Bladder': 71, 'Cervix': 20, 'Liver': 509, 'Mesenchymal': 34}